.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: 'Retro';
  src: local('Retro'), url(./fonts/LazenbyCompLiquid.ttf) format('truetype');
}

@font-face {
  font-family: 'Retro2';
  src: local('Retro2'), url(./fonts/power_pixel-7.ttf) format('truetype');
}

@font-face {
  font-family: 'Retro3';
  src: local('Retro3'), url(./fonts/gaposiss.ttf) format('truetype');
}

@font-face {
  font-family: 'Retro4';
  src: local('Retro4'), url(./fonts/visitor1.ttf) format('truetype');
}





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #111d23;
  color: #b0ffff;
  font-family: 'Retro2';
  font-weight: 400;
  text-shadow: 0 0 10px #88a0bb, 0 0 20px #27a6ff, 0 0 30px #0f7fcd;
  font-size: 32px;

}

.item-nav {
  grid-area: nav-area;
  font-size: 30px;
  font-family: 'Retro4';
  color: #6ae2e2;
  animation: wobble 2s linear infinite;
  margin-left: 30px;
}
.item-paragraph {
  grid-area: paragraph-area;
  animation: wobble 2s linear infinite;
}

.item-choice {
  grid-area: choices-area;
  display:flex;
  flex-flow: row;
  animation: wobble 2s linear infinite;
}

.item-vocal {
  grid-area: vocal-area;
  display:flex;
  justify-content: flex-end;
  animation: blink 2s linear infinite;
}

@keyframes blink {
  0% { opacity: 0.1; }
  50% { opacity: 1; }
  100% { opacity: 0.1; }
}

@keyframes wobble {
  0% { opacity: 0.7; }
  50% { opacity: 1; }
  100% { opacity: 0.7; }
}

.grid-layout {
  display: grid;
  grid-template-columns: 3fr 6fr 2fr;
  grid-template-rows: 75px 50px 360px 300px auto auto;
  grid-template-areas:
    ". . ."
    ". nav-area ."
    ". paragraph-area ."
    ". choices-area ."
    ". vocal-area ."
    ". . .";
}



.button {
  background-color: transparent;
  border: none;
  color: #6ae2e2;
  transition: 0.5s;
  font-family: 'Retro4', cursive;
  font-weight: 700;
  text-shadow: 0 0 10px #88a0bb, 0 0 20px #27a6ff, 0 0 30px #0f7fcd;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  display:flex;
  flex-direction: row;
  padding-bottom: 10px;
  padding-top: 10px;
 }


.button:hover {
  color: #ffffff;
  text-shadow: 0 0 10px #b5c8de, 0 0 20px #69bffb, 0 0 30px #0f7fcd;
}

.button:focus {
  outline: none;
}



